.sectionContent {
    margin-top: 50px;
    width: 50%;
    display: flex;
    place-self: center;
    flex-direction: row;
    place-content: center;
}

.text {
    margin-right: 3em;
}

.algoForm {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.radioBtnContainer {
    display: flex;
    width: 100%;
    margin: 1em;
}

@media (max-width: 800px) {
    .sectionContent {
        width: 100%;
        padding: 30px;
        flex-direction: column;
    }

    .algoForm {
        width: 100%;
        margin-top: 50px;
    }
}